*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
section {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 62rem;
    width: 100%;

    background: greenyellow;
}
.form-box {
    position: relative;
    width: 25rem;
    height: 30rem;
    display: flex;
    justify-content: center;
    align-items: center;

    background: red;
}